<div class="quiz">
    <ul class="list-group">
        <li *ngFor=" let quiz of api.quizes" class="list-group-item">
            <span class="pull-left">
                <img src="{{quiz.imageUrl}}" class="img-responsive"/>
             </span>
           <a href="#">{{quiz.title}}</a>
           <a class="btn btn-danger play" [routerLink]="['/quiz',quiz.id]">Play Now</a>
        </li>
    </ul>
    <button [disabled]="!userApi.token" routerLink="/newquiz" class="btn btn-info new">New Quiz</button>
    </div>
