<mat-accordion class="question-body">
    <mat-expansion-panel
    *ngFor="let question of questions;let i=index"
    class="panel"[expanded]="step === i" (opened)="setStep(i)" >
      <mat-expansion-panel-header>
        <mat-panel-title class="text">
          {{question.content}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group">
      <mat-radio-button class="example-radio-button" *ngFor="let answer of question.answers"
      [value]="answer.isCorrect">
      {{answer.content}}
    </mat-radio-button>
  </mat-radio-group>
      <mat-action-row>
        <button mat-button class="btn-primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
    <a routerLink="/score"  class=" btn btn-primary">Finish</a>
  
  
