<div class="limiter">
    <div class="container-login100">
            <div *ngIf="isLoading">
                    <app-loading></app-loading>
                </div>
        <div class="wrap-login100 p-t-85 p-b-20">
            <form class="login100-form validate-form" #loginForm="ngForm" (ngSubmit)="api.login(); onReset(loginForm)" *ngIf="!isLoading">
                <span  class="login100-form-title p-b-70">
                    Welcome
                </span>
                <span class="login100-form-avatar">
                    <img class="img-responsive" *ngIf="api.path" src="{{createImgPath(api.path)}}" />
                    <img src="" alt="AVATAR">
                </span>

                <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter username">
                    <input class="input100" type="text" name="username"
                     required [(ngModel)]="api.loginModel.username"
                     ngModel
                     #username="ngModel">
                    <span class="focus-input100" data-placeholder="Username"></span>
                    <div *ngIf="!username.valid && username.touched"
                        class="alert alert-danger">
                            User Name is required
                    </div>
                </div>

                <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
                    <input class="input100" type="password" name="pass"
                     required [(ngModel)]="api.loginModel.password"
                     ngModel
                     #pass="ngModel">
                    <span class="focus-input100" data-placeholder="Password"></span>
                    <div *ngIf="!pass.valid && pass.touched"
                        class="alert alert-danger">
                            Password is required
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn"
                    [disabled]="!loginForm.valid">
                        Login
                    </button>
                </div>

                <ul class="login-more p-t-190">

                    <li>
                        <span class="txt1">
                            Don’t have an account?
                        </span>

                        <a routerLink="/register" class="txt2">
                            Sign up
                        </a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>

