<div class="container body-content">
    <div class="row post-header">
        <div class="section-heading">
            <span class="user-name"></span>
        </div>
    </div>
    <div class="row user-profile">
        <div class="col-md-4 profile-pic">
            <img class="img-responsive" *ngIf="userApi.path" src="{{createImgPath(userApi.path)}}" />
            <img class="img-responsive" *ngIf="!userApi.path" src="{{createImgPath(usersImages/userApi.user.imageUrl)}}" />
            <div class="edit"> 
                <form enctype="multipart/form-data">
                    <label for="uploadIcon">
                         <i class="material-icons">
                            photo_camera 
                        </i>
                        <input id="uploadIcon" (change)="uploadPhoto()" #fileInput  type="file" name="photo" style="display:none" />
                    </label>
                </form>
            </div>
        </div>
        <div class="col-md-7">
            <span class="user-name">{{userApi.user.userName}}</span>
            <span class="user-email">{{userApi.user.email}}</span><br /><br />
            <span><span style="font-weight:bold">Member since:</span> {{userApi.user.joined}}</span>
        </div>
                <div>
                    <a routerLink="/profile-edit"><i class="material-icons">
                        edit
                        </i></a><br /><br />                   
                </div>

    </div>
</div>

<div>
    <span id="heading-btn"></span>
</div>
